.App {
  text-align: center;
}
/* Header CSS */
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #ddd;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  padding: 20px;
}

.header__button {
  border: 0;
  background-color: white;
  padding: 20px;
  transition: color 0.2s ease-in-out;
}


/* Content CSS */

.content__filter {
  margin-top: 2rem;
}

.content__container {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  grid-auto-rows: 300px;
  grid-gap: 30px;
  justify-content: center;
}

.content__item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  overflow: hidden;
  height: 300px;
  width: 300px;
  transition: 0.5s all ease-in-out;
}

.content__item:hover {
  transform: scale(1.05);   

}
